.home{
    min-height: 97vh;
    overflow: hidden;
    position: relative;
}
.home p{
    font-size: .9em;
}
.image_box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 97vh;
    filter: brightness(.8);
    animation: animate_mt 2s ease-in-out forwards;
}
.image_box img{
    width: 100%;
    z-index: -1;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
}
.home .main_text{
    position: absolute;
    bottom: 0;
    padding: 30px;
    padding-bottom: 40px;
    width: 100%;
    backdrop-filter: blur(10px);
    border-top: 1px solid #3a3a3a;
    left: 0;
 }
.home .main_text h2{
    font-weight: 400;
}
 @keyframes animate_mt {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
 }

.buttons{
    padding: 15px;
    padding-left: 0;
    display: flex;
    gap: 30px;
}
.buttons button{
    padding: 10px 25px;
    color: #0e0e0e;
    border-radius: 10px;
    font-size: 1em;
    font-family: var(--cursive-font);
    border: none;
    padding-bottom: 12px;
    background: #ededed;
}