* {
  font-family: var(--love-font);
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: var(--text-color);
}
:root {
  --love-font: "Poppins", sans-serif;
  --secondary-font: "Raleway", serif;
  --primary-font: "Quicksand", serif;
  --cursive-font: "Playwrite GB S", serif;
  --japanese-font: "Noto Sans JP", serif;
  --main-font: "Inter", serif;
  --text-color: #eeeeee;
  --background-color: #000000;
  --body-text: 16px;
  --secondary-color: #bc6ff1;
}
body {
  background: var(--background-color);
}
.home_container {
  opacity: 0.2;
  transition: 1s;
  transition-delay: 2s;
}
.home_container.active {
  opacity: 1;
}
